body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin-top: 150px;
}

.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-contact p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}


.social-icons {
  display: flex;
  align-items: center;
  
}

.social-icons a {
  margin-right: 30px;
  margin-left: 80px;
  font-size: 24px;
  color: #007BFF;
  text-decoration: none;
}

.social-icons a:last-child {
  margin-right: 0;
  margin-left: 0; 
}
