<!DOCTYPE html>
<html>
<head>
  <title>Meu Card de Investimento</title>
  <!-- Inclua o CSS do Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Inclua o FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Inclua o CSS personalizado -->
  <link rel="stylesheet" href="index.component.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Contas</h5>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-id-card fa-3x mb-3"></i>
            <p class="card-text">Cadestre contas a partir de clientes.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Deposito,Saque,Transferencia <i class="fas fa-check-circle text-success mr-2"></i></li>
            <li class="list-group-item"> Número e agência da conta. <i class="fas fa-check-circle text-success mr-2"></i></li>
            <li class="list-group-item"> Edição completa dos dados. <i class="fas fa-check-circle text-success mr-2"></i></li>
          </ul>
  
          <div class="card-footer text-muted">
            <small>Use a vontade!</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Sobre a aplicação</h5>
          </div>
          <div class="card-body">
            <i class=" fas fa-university fa-3x mb-3"></i>
            <p class="card-text">Aplicação Fullstack Bancária.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Angular <i class="fa-brands fa-angular mr-2"></i> </li> 
            <li class="list-group-item"> Java <i class="fa-brands fa-java mr-2"></i></li>
            <li class="list-group-item"> MySQL <i class="fa-solid fa-database mr-2"></i></li>
          </ul>
     
          <div class="card-footer text-muted">
            <small>Entre em contato comigo para mais informações.</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Clientes</h5>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-user fa-3x mb-3"></i>
            <p class="card-text">Faça o seu cadastro de clientes.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Cadastro a partir de nome, gmail e CPF <i class="fas fa-check-circle text-success mr-2"></i> </li> 
            <li class="list-group-item"> Possivél adicionar observações.<i class="fas fa-check-circle text-success mr-2"></i></li>
            <li class="list-group-item"> Edição completa dos dados.<i class="fas fa-check-circle text-success mr-2"></i></li>
          </ul>

          <div class="card-footer text-muted">
            <small>Use a vontade!</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Inclua o JS do Bootstrap (opcional, mas necessário para algumas funcionalidades) -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

  