<nav class="navbar navbar-expand-md navbar-light bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/icons/Design_sem_nome__2_-removebg-preview.png" alt="Seu Logo"  class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contas">Contas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
